/* fonts */

@font-face {
  font-family: "Faddy";
  src: url("./fonts/Faddy-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Faddy";
  src: url("./fonts/Faddy-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicaPlay";
  src: url("./fonts/PublicaPlay.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  color: white;
  list-style-type: none;
  font-family: "Faddy";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PublicaPlay";
}
p,
a {
  font-family: "Faddy";
  text-decoration: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: table;
  width: 100%;
  padding-inline: 0.6rem;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

/* HERO SECTION */
.site-header {
  padding-top: 0.8rem;
  position: fixed;
  top: 0;
  z-index: 4;
  left: 0;
  padding-inline: 0.8rem;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand p {
  font-weight: 500;
  font-size: 0.9rem;
}

.nav-menu button {
  background-color: #252525;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
}

/* HERO SECTION */

.hero-container {
  height: 100%;
  width: 100%;
}

.hero_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.hero_header h1 {
  font-size: 6rem;

  font-weight: 300;
}
.header_footer {
  align-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}
.header_footer_arrow p {
  font-size: 1.4rem;
}

.header_footer_titles {
  text-align: right;
}

.hero_header {
  flex: 4;
  padding-top: 1rem;
  width: 100%;
}

.header_seperator {
  background-color: white;
  flex: 0.5;
  width: 120%;
  margin-left: -2rem;
}

img {
  width: 100%;

  object-fit: contain;
}

.header_overlay {
  position: fixed;
  min-height: 100%;

  background-color: #131313;
  width: 100%;
  left: 0;

  z-index: 2;
}

.header_content {
  position: fixed;
  padding-top: 40%;
  padding-bottom: 0.8rem;
  padding-inline: 0.8rem;
  min-height: 100%;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_list {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.header_list * {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.1;
}

.header_overlay_footer {
  display: flex;
  flex-direction: column;
}
