/* fonts */

@font-face {
  font-family: "Faddy";
  src: url("./fonts/Faddy-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Faddy";
  src: url("./fonts/Faddy-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicaPlay";
  src: url("./fonts/PublicaPlay.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  color: white;
  list-style-type: none;
  font-family: "Faddy";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PublicaPlay";
}
p,
a {
  font-family: "Faddy";
  text-decoration: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: table;
  width: 100%;
  padding-inline: 0.8rem;
  height: 100%;
  background-color: #0a0a0a;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* HERO SECTION */
.site-header {
  padding-top: 0.8rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand p {
  font-weight: 500;
}

.nav-menu button {
  background-color: #323232;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border: none;
}
